<head>
  <style>
    th {
      width: 200px;
      text-align: left;
    }
    td {
      width: 200px;
    }
    .folder {
      background-color: #eee;
    }
  </style>
</head>

<h1>Backups</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Criado em:</th>
    <th>Última modificação</th>
  </tr>
  <% @folders.each do |folder| %>
    <tr class="folder">
      <td><%= link_to folder[:name], api_list_files_path(folder[:name]), remote: true %></td>
      <td><%= folder[:created_at].strftime('%d/%m/%y - %H:%M:%S') %></td>
      <td><%= folder[:updated_at].strftime('%d/%m/%y - %H:%M:%S') %></td>
    </tr>
  <% end %>
</table>

